.column-container {
    width: 100%;
}

.columns {
    width: 100%;
}

@media (max-width: 800px) {
    .columns {
      flex-direction: column;
    }
  
    .columns div {
      width: 100%;
    }
  
  }