.column-container {
  width: 100%;
  overflow-x: hidden;
}

.columns {
  width: 100%;
}

.column-1 {
  z-index: 1;
}

.column-3 {
  margin-left: 100px;
  z-index: 2;
}

@media (max-width: 1200px) {
  .columns {
    flex-direction: column;
  }

  .columns div {
    width: 100%;
  }

  .column-3 {
    margin-left: 50px;
  }
}

@media (max-width: 560px) {
   .column-3 {
    width: 70%;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
   .column-3 {
    width: 40%;
    margin-left: 0px;
  }
}
